<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>FlightSurety</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <style>
            body { 
                padding-top: 65px; 
            }
    </style>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <!--<a class="navbar-brand" href="#">FlightSurety</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>-->
        <a class="navbar-brand" href="#">FlightSurety</a>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href=#>Flights</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href=#>Insurances</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href=#>Airlines</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href=#>Passenagers</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href=#>0xece58f591d8317d404b4a7d3bda4db41a2e1e470</a>
                </div>
            </li>
            <li class="nav-item pull-right">
                <a class="navbar-text text-white">0xece58f591d8317d404b4a7d3bda4db41a2e1e470</a>
            </li>
        </ul>
    </nav>
    
    <main role="main" class="container">

        <div class="card" id="all-flights">
            <div class="card-header text-left">
                <h5>All Flights</h5>
            </div>
            <div class="card-body">
                <table class="table table-border">
                    <thead>
                        <tr>
                            <th>Flight Code</th>
                            <th>Flight Timestamp</th>
                            <th>Airline Address</th>
                            <th>Flight Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>AX0101</td>
                            <td>20191005</td>
                            <td>0x69e1CB5cFcA8A311586e3406ed0301C06fb839a2</td>
                            <td><p class="text-primary">PENDING</p></td>
                            <td>
                                <button class="btn btn-outline-primary btn small">
                                    Buy
                                </button>
                            </td>
                        </tr>
                            <tr>
                                <td>AX0102</td>
                                <td>20191005</td>
                                <td>0x69e1CB5cFcA8A311586e3406ed0301C06fb839a2</td>
                                <td><p class="text-success">ONTIME</p></td>
                                <td class="bg-secondary text-white">Not In Use</td>
                            </tr>
                             <tr>
                                <td>AX0103</td>
                                <td>20191005</td>
                                <td>0x69e1CB5cFcA8A311586e3406ed0301C06fb839a2</td>
                                <td><p class="text-danger">LATE(airline)</p></td>
                                <td class="bg-secondary text-white">Not In Use</td>
                            </tr>
                            <tr>
                                <td>AX0104</td>
                                <td>20191005</td>
                                <td>0x69e1CB5cFcA8A311586e3406ed0301C06fb839a2</td>
                                <td><p class="text-warning">LATE(other)</p></td>
                                <td class="bg-secondary text-white">Not In Use</td>
                            </tr>
                        </tbody>
                </table>
            </div>
        </div>

        <br>

        <div class="card" id="my-flights">
            <div class="card-header text-left">
                <h5>My Flights</h5>
            </div>
            <div class="card-body">
                    <table class="table table-border">
                            <thead>
                                <tr>
                                    <th>Flight Code</th>
                                    <th>Flight Timestamp</th>
                                    <th>Airline Address</th>
                                    <th>Flight Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>AX0102</td>
                                    <td>20191005</td>
                                    <td>0x69e1CB5cFcA8A311586e3406ed0301C06fb839a2</td>
                                    <td><p class="text-success">ONTIME</p></td>
                                </tr>
                            </tbody>
                        </table>
            </div>
        </div>

        <br>

        <div class="card">
            <div class="card-header text-left">
                <h5>Messages from FlightSurety</h5>
            </div>
            <div class="card-body text-left">
                <p>
                    1)<br>
                    2)<br>
                    3)<br>
                    4)<br>
                    5)<br>
                </p>
            </div>
        </div>

    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>